.fondo-app {

    &.ordenes-compra  {

        border:red solid 5px;

        .MuiTableContainer-root {

            thead,
            tbody {

                tr {

                    th,
                    td {
                        display:none;
                       
                        &:nth-child(1),
                        &:nth-child(8),
                        &:nth-child(9),
                        &:nth-child(10),
                        &:last-child {
                            display: table-cell;
                        }
                    }
                }
            }
        }

        @include desktop {

            .contenido-ventana {
                display: grid;
                grid-template-columns: 100%;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, auto);

                .titulo-tabla {
                    grid-column: 1/5;
                    grid-row: 1/2;
                }

                .valor-total {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    width: 100%;
                }

                .tabla-basica {
                    grid-column: 1/5;
                    grid-row: 2/3;
                    height: auto;

                    thead,
                    tbody {

                        tr {

                            th,
                            td {
                                display: table-cell;

                                &:nth-child(1),
                                &:nth-child(9){
                                    display: none;
                                }

                                &:nth-child(4),
                                &:nth-child(5),
                                &:nth-child(6),
                                &:nth-child(7){
                                    max-width: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}